<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!--    dostanes zo stranky https://vuejs.org/v2/guide/-->
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="./css/main.css"> -->
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
            <div id="app">
                My friend <strong>{{dude}}</strong>

                <ul>
                   
                    <li class="dude" v-for="dudeItem in dudeList">
                        <a class="ctrl" @click.prevent="removeDudeItem(dudeItem)">x</a>
                        <article :class="{faded: dudeItem.cool < 10, gold: dudeItem.cool > 30}">
                            {{dudeItem.name}}
                            <span>{{dudeItem.description}}</span>
                        </article>

                        <input type="number" class="ctrl" v-model.number="dudeItem.cool">

                    </li>
                    
                </ul>


                <p>
                    {{counter}}
                </p>
                
                <!-- @keydown.enter bude platit pre ktorykolvek input -->
                <form class="add-new" @keydown.enter="addDude">
                    <!-- autofocus: kurzor bude vzdy blikat po refreshi stranky tu 
                    sucasne si nastavim referenciu na tento atribut ref="thisFocus"-->
                    <input type="text" v-model="newName" ref="thisFocus" autofocus>
                    <input type="text" v-model="newDescription">
                    <input type="text" v-model="newCool">

                </form>

                <p class="preview">
                    {{newName}}
                    <br/>
                    {{newDescription}}
                    <br/>
                    {{newCool}}
                </p>
            </div>

            <script>
                const app = new Vue(
                    {
                        el: '#app',
                        data: {
                            dude: "Jake the dog",
                            dudeList: [
                            ],
                            counter: 0,
                            newDude: '',
                            newName: '',
                            newDescription: '',
                            newCool: ''
                        },
                        methods: {
                            addDude() {
                                // Ak cokolvek z inputov nieje zadane, teda je hodnoty false, nevykonaj dalsie prikazy
                                if(!this.newName || !this.newDescription || !this.newCool) {
                                    return ;
                                }

                                let dudeElement = {
                                    name: this.newName,
                                    description: this.newDescription,
                                    cool: this.newCool
                                };

                                this.dudeList.push(dudeElement);

                                this.newName = '';
                                this.newDescription = '';
                                this.newCool = '';

                                // Vsetky atributy s ref [refs], ktore maju nastavenu referenciu na thisFocus, focusnite sa focus()
                                this.$refs.thisFocus.focus();
                            },
                            hasLessWords(dudeItem) {
                                return (dudeItem.split(' ').length < 3);
                            },
                            removeDudeItem(dudeItem) {
                                this.dudeList = this.dudeList.filter(dude => dude !== dudeItem);
                            }
                        },
                        // created() musi byt ten nazov metody takyto
                        // Na vytvorenie stavnateho jsonu na servery pouzi http://myjson.com/  a na format vlkladaneho jsonu 
                        // https://jsonformatter.curiousconcept.com/
                        created() {
                            fetch('https://api.myjson.com/bins/rj5s0')
                            .then(res => res.json())
                            .then(json => this.dudeList = json)
                        }
                    }
                );
            </script>
    </body>
</html>